.quarto-listing-category-title {
    visibility: hidden;  /*delete previous text*/
}
.quarto-listing-category-title::after {
    content: "Research Topics"; /* new text */
    visibility: visible; 
    position: absolute; /* Absolute positioning to overlay the original text */
    left: 0;
}





h1{
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0.4rem;
  font-weight: 1000;
  line-height: 1;
}

h2{
  margin-top: 0;
  margin-bottom: 0.4rem;
  font-weight: 500;
  line-height: 1;
  font-size: 1rem;
}

h5,.h5{
  font-size: 0.7rem;
  text-align: center;
  padding: 0.1rem;
  white-space: nowrap; /* 禁止换行 */
  word-wrap: normal;   /* 正常换行 */
  word-break: keep-all; /* 防止在单词中间换行 */
}


.category{
  font-size: 0.8rem !important;
}
.margin-sidebar{
  width: 13rem !important;
}



.quarto-listing-category-title{
  font-size: 1rem !important;
}

.quarto-listing-container-grid{
  padding-bottom: 0.2rem !important;
}


.card-body.post-contents{
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.thumbnail-image.card-img {
  height: 5em !important;
  width: 5em !important;
  padding: 0.2rem !important;
}
}




/*alumni and collaborators*/
.custom-details, .custom-details a {
  text-decoration: none;
  font-size: 0.9em;
}














/*research*/

.page-item{
  font-size: 0.7rem;
}

/*replace placeholder of the search bar */
/* 隐藏原始 placeholder 文本 */
.form-control::placeholder {
    color: transparent;
}
/* 设置父容器的样式 */
.input-group {
    position: relative; /* 确保伪元素相对于父容器定位 */
}

.input-group {
    width: 400px; /* 根据需要设置宽度 */
    max-width: 100%; /* 确保响应式布局 */
}
/* 自定义伪元素在父容器中添加新的占位符 */
.input-group::after {
    content: "Search by author, keywords, etc."; /* 自定义的 placeholder 文本 */
    color: #aaa; /* 文本颜色 */
    position: absolute;
    top: 50%; /* 垂直居中 */
    left: 50px; /* 根据需要调整水平位置 */
    transform: translateY(-50%);
    pointer-events: none; /* 禁止交互，防止影响输入 */
    font-size: 14px; /* 自定义字体大小 */
}

/* 当 input 有输入内容时隐藏自定义占位符 */
.form-control:not(:placeholder-shown) + .input-group::after {
    display: none; /* 隐藏伪占位符 */
}








.quarto-listing-default {
  font-size: 0.8rem !important;
}

.quarto-listing-default .listing-title{
  font-size: 1.1em !important;
}

/*label*/
.quarto-listing-default .listing-categories{
  /*left aligned*/
  justify-content: left !important;
}
.quarto-listing-default .listing-category{
  font-size: 0.7em !important;
}


/*hide metadata*/
.quarto-listing-default .metadata{
  display: none !important;
}

/*general reference style: font size 0.6rem, display flex*/


/*info style: left aligned, display inline*/
.info {
  flex: 1;
  display: flex;
  margin-right: 0.5rem;
}
.info a {
  display: inline-block !important;
  margin-right: 0.2rem !important;
}

/*materials: right aligned, display inline*/
.materials {
  display: flex;
  gap: 0.5rem;
}

/*link style: red color and underline on hover*/
.reference-container a.link {
  color: red;
}
.reference-container a.link:hover {
  text-decoration: underline;
}

/*image style*/
.thumbnail-image{
  height: 6rem !important;
  width: 20rem !important;
  margin-left: auto !important;
}



/*teaching*/
/*overall table font size 0.8rem*/
.quarto-listing-table{
  table-layout: auto;
  font-size: 0.8rem !important;
}
/*tag or title, no wrap */
.quarto-listing-table a{
   white-space: nowrap; 
}
/*title, font size 1.1em*/
.quarto-listing-table .listing-title{
  font-size: 1.1em !important;
}






/* When there is no match, do not display any content, instead of displaying "no match" (since people are not items) */
.listing-no-matching{
  display: none !important;
}







