.categories-AI {
  background-color: #f0ad4e; /* 橙色背景 */
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.categories-PCA {
  background-color: #5bc0de; /* 蓝色背景 */
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.category-nlp {
  background-color: #d9534f; /* 红色背景 */
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.category-healthcare {
  background-color: #5cb85c; /* 绿色背景 */
  color: white;
  padding: 5px;
  border-radius: 5px;
}