





h2,.h2{
  margin-top: 0;
  margin-bottom: 0.4rem;
  font-weight: 500;
  line-height: 1;
  font-size: 1rem;
}

h5,.h5{
  font-size: 0.75rem;
}

.listing-pi {
  margin-top: 0;
  margin-bottom: 0;
}


.listing-categories{
  font-size: 0.75rem;
}

.thumbnail-image.card-img{
  height: 6rem !important;
  width: 6rem !important;
}