// The left hand sidebar
$grid-sidebar-width: 0px !default;

// The main body
$grid-body-width: 1200px !default;

// The right hand margin bar
$grid-margin-width: 170px !default;

// The gutter that appears between the above columns
$grid-column-gutter-width: 1rem !default;

