


h1{
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0.4rem;
  font-weight: 1000;
  line-height: 1;
}

h2{
  margin-top: 0;
  margin-bottom: 0.4rem;
  font-weight: 500;
  line-height: 1;
  font-size: 1rem;
}

h5,.h5{
  font-size: 0.7rem;
  text-align: center;
  padding: 0.1rem;
}


.listing-category{
  font-size: 0.4rem !important;
  margin-bottom: 0.1rem!important;
  margin-top: 0.1rem!important;
  margin-left: 0.1rem!important;
  margin-right: 0.1rem!important;
  padding-top: 0!important;
  padding-bottom: 0.1!important;
  border: 0.1rem solid #e0e0e0 !important; 
  padding: 0.1rem 0.2rem !important; 
  text-align: center !important;
}

.thumbnail-image.card-img{
  height: 6rem !important;
  width: 6rem !important;
border-radius: 50% !important;
}


.card-body.post-contents{
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.quarto-grid-item.card.h-100.card-left.borderless{
  width: 6.1rem;
}

.listing-categories {
  display: flex; /* 启用flex布局 */
  justify-content: center; /* 水平居中 */
  align-items: center; 
}

.quarto-listing-container-grid{
  padding-bottom: 0.2rem !important;
}

.category{
  font-size: 0.7rem !important;
}

.quarto-listing-category-title{
  font-size: 0.8rem !important;
}

.margin-sidebar{
  width: 10rem !important;
}






.custom-details summary {
  cursor: pointer;            /* 鼠标样式 */
  font-weight: bold;          /* 加粗文字 */
  color: #333;                /* 文字颜色 */
}



/*research*/

.listing-title{
  font-size: 0.7rem !important;
  font-weight: 800 !important;
}


.quarto-post{
  width: 100% !important;
  height: 100% !important;
}

/*hide metadata*/
.metadata{
  display: none !important;
}

/*description(reference)*/
/*general reference style: font size 0.6rem, display flex*/
.reference-container {
  font-size: 0.6rem !important;
  display: flex;
}

/*info style: left aligned, display inline*/
.info {
  flex: 1;
  margin-right: 10px;
}
.info a {
  display: inline-block !important;
}

/*link style: red color and underline on hover*/
.reference-container a.link {
  color: red;
}
.reference-container a.link:hover {
  text-decoration: underline;
}

/*materials style: right aligned, display inline*/
.materials {
  display: flex;
  gap: 10px;
}


/*label for reserach*/
.quarto-listing-default .listing-categories{
  /*left aligned*/
  justify-content: left !important;
}

/*image for research*/
.thumbnail{
  margin-left: auto !important;
  width: 0rem !important;
}

.thumbnail-image{
  height: 4.5rem !important;
  width: 10rem !important;
  margin-left: auto !important;
}

.quarto-listing-default {
  font-size: 0.6rem !important;
}