.subtitle{
  display: none;
}


/*tag*/
.quarto-category {
  font-size: 0.6em !important; /* 调整字体大小 */
  padding: 0.25rem 0.5rem;
}

h1{
  font-size: 1.2em !important;
}
h2{
  font-size: 1.1em !important;
  margin-top: 0.7em;
}
h3{
  font-size: 1em !important;
}
li{
  font-size: 0.9em !important;
}


p{
  font-size: 0.9em !important;
}

.table{
  font-size: 0.9em !important;
}